*:focus {
    outline: none !important;
}

body {
    margin: 0px;
    font-family: Arial;
}

div .header {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

div.inclusionRules {
    line-height: 16px;
    font-size: 12px;
    margin-top: 3px;
    padding: 2px 5px 2px 5px;
    vertical-align: top;
    cursor: pointer;
    border: solid 1px #fff;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.inputField
{
	background-color: #eee;
	border-bottom: solid 1px #ccc;
	border-left: none;
	border-top: none;
	border-right: none;
	padding: 3px;
	padding-left: 10px;
	outline: none;
}

img.spin {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.tab_contents {
	padding: 15px 10px 10px 10px;
	border: 1px solid #c0c0c0;
	border-top: none;
	min-height: 600px
}

button.deleteInclusionRule
{
	vertical-align: top;
	margin-top:2px;
}

button.copyInclusionRule
{
	vertical-align: top;
	margin-top:2px;
}

.selectedInclusion
{
	-webkit-transition: background .5s;
	background-color: #ccc;
}

.menu-link {
    font-size: 16px;
    color: #818285 !important;
    text-decoration: none;
}
	.menu-link:hover {
			text-decoration: underline;
	}

table.sourceTable tr td, table.sourceTable th
{
	padding: 1px 5px;
}

div.generateAction {
	display: inline-block;
  vertical-align: bottom;
  line-height: 22px;
}
div.generateAction a {
	color:black;
}

/* line 221, ../scss/partials/_buttons.scss */
.sourceTable .button-vtiny {
  font-size: 10px;
  height: 18.4px;
  line-height: 18.4px;
  padding: 0px 14.92px;
}

/* line 245, ../scss/partials/_buttons.scss */
.sourceTable input.button-vtiny, button.button-vtiny {
  height: 18.4px;
}

.sourceTable th.smallHeading {
	font-size:12px;
	font-weight: bold;
}

.sourceTable .dataCol {
	text-align: right;
}

/* facet styles */
.feFilter {
	padding-left: 0px;
}

.feFilter .facetName {
	padding: 10px 2px 0px 3px;
	color: #337ab7;
	font-size: 12px;
	border-bottom: solid 1px;
	font-weight: bold;
}

.feFilter .facetMemberName {
	font-size: 11px;
	cursor: pointer;
	padding: 0px 2px 0px 5px;
	margin: 1px 0px 1px 0px;
}

.feFilter .facetMemberName:hover {
	background-color: #ddd;
}

.feFilter .facetMemberName.selected {
	background-color: #F9B813;
}

.panel-default > .panel-highlighted {
	background-color: #F9B813;
	background-image: linear-gradient(to bottom,#F9B813 0,#EFAB00 100%);
}

.feFilter .facetScrollBox {
	max-height: 125px;
	overflow-y: auto;
	border-bottom: solid 1px #eee;
	/* border-top: solid 1px #ddd; */
	margin-bottom: ;
}

/* concept selection styles */
td .fa-shopping-cart {
	color: #ccc;
	cursor: pointer;
}

.fa-shopping-cart.selected {
	color: #F19119;
}

