/* Bootstrap overrides */
@media (min-width: 1640px) {
	.container {
		width: 1440px;
	}
}

nav {
	min-width: 480px;
	margin-bottom: 7px;
}
.navbar-brand {
	padding: 0px 10px 0px 0px;
	line-height: 57px;
}
.dropdown-menu {
	padding-top: 0px;
	padding-bottom:0px;
}
.navbar-brand img {
	margin-top: -7px;
}
input[type=text].navbar-input {
	width: 300px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
.panel-heading {
	padding: 5px 15px;
	line-height: 30px;
}
.badge {
	border-radius: 5px;
	font-size: 1.0em;
	font-weight:normal;
}
a {
	color: #428bca;
}

tr .glyphicon-ok-sign {
	color: #ccc;
	cursor: pointer;
}
tr.selected .glyphicon-ok-sign {
	color: #4AC3FF;
}
.glyphicon-ok-sign.selected {
	color: #4AC3FF;
}
.glyphicon-ok {
	cursor:pointer;
	color: #ccc;
}
.glyphicon-ok.selected {
	color: #4AC3FF;
}
.active .glyphicon {
	color: #4AC3FF;
}

.glyphicon {
	font-size:1.4em;
}
